@import 'core';

.button {
  width: fit-content;
  min-width: 127px;
  @include flex(center, center);
  @include text(rem(16px), 700, $WHITE);
  background-color: $BLUE;
  border: 1px solid $BLUE;
  border-radius: 8px;
  padding: 18px 34px;
  @include transition(background-color, color);
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: $BLUE;
  }
  &:hover .add,
  &:hover .arrow {
    fill: $BLUE;
  }
}

.add,
.arrow {
  $size: 16px;
  width: $size;
  height: $size;
  fill: $WHITE;
  @include transition(fill);
}

.add {
  margin-right: 17px;
}

.arrow {
  margin-left: 16px;
}
