@import 'core';

.category {
  padding-top: 240px;
  &__title {
    @include text(rem(34px), 700, $BLACK);
    line-height: 130%;
    &_colored {
      color: $BLUE;
    }
  }
  &__wrapper {
    @include flex(space-between, center);
    margin-bottom: 30px;
  }
}

.container {
  margin-bottom: 60px;
}
