// ! ---COLORS---

// # GENERAL:
$WHITE: white;
$BLACK: black;
$RED: #fc5252;
$BLUE: #381ddb;
$LIGHT_RED: #ffa3a3;

// # ADDITIONAL:
$A1: #e0e0e0;
$A2: #db841d;
$A3: #aa6550;
$A4: #c00096;
$A5: #ffcdcd;
$A6: #ffbe9d;
$A7: #84c4ff;
